@charset "utf-8";


h1 {
    font-family: 'Noto Sans JP';
    color: #000000;
}

#myphoto {
    float: right;
    margin 0 0 0 15px;
}


h3 {
    font-family: 'Noto Sans JP';
    color: #000000;
}

body {
    font-family: 'Noto Sans JP';
    color: #000000;
}

