@charset 'utf-8';


h1 {
    font-family: 'Rosarivo', 'Times New Roman';
    color: #000000;
}

#myphoto {
    float: right;
    margin 0 0 0 15px;
}


h3 {
    font-family: 'Rosarivo', 'Lugrasimo', 'Times New Roman';
    color: #000000;
}

body {
    font-family: 'Rosarivo', 'Lugrasimo', 'Times New Roman';
    color: #000000;
}

